GEMINI_API_KEY="tu_api_key_de_gemini_aqui"
ID_SPREADSHEET="id_de_tu_hoja_de_calculo"
ID_CARPETA="id_carpeta_origen_pdfs"
ID_CARPETA_INFORMES="id_carpeta_destino_informes"
ID_CARPETA_ANALIZADOS="id_carpeta_pdfs_analizados"
ID_PLANTILLA_INFORME="id_Informe_modelo"
GROQ_API_KEY="tu_key_de_groq"
NVIDIA_API_KEY="tu_key_de_nvidia"