.git
.gitignore
.env
client_secret.json
client_secret_web.json
token.json
tokens/
cache_analisis.json
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
pdfs/
planes_de_estudio/

pdfs_grado/
pdfs_posgrado/